/* Variables */
:root{
    --rojo-brillante: rgb(242, 95, 58);
    --azul-oscuro: rgb(35, 44, 81);
    --azul-grisaceo-oscuro: rgb(143, 148, 167);
    --azul-muy-oscuro: rgb(29, 30, 37);
    --rojo-muy-palido: rgb(255, 239, 234);
    --variante-gris-claro: rgb(249, 249, 249);
}

/* Reset de estilos */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2{
    color: var(--azul-oscuro);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

/* Estilos comunes */
.container{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 80px;
}

.button{
    padding: 15px 35px;
    border-radius: 40px;
    font-size: .7rem;
    font-weight: 500;
}

.b-orange{
    background-color: var(--rojo-brillante);
    color: white;
}

.b-white{
    background-color: white;
    color: var(--rojo-brillante);
}



/* Estilos Generales */
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    max-width: 1440px;
    margin: 0 auto;
}


/****************/
/* -- HEADER -- */
/****************/

header{
    display: flex;
    justify-content: space-between;
    padding: 40px 25px;
}

.logo-header{
    width: 35%;
    height: 100%;
}

.navegacion{
    display: none;
}

/**************/
/* -- MAIN -- */
/**************/

/* Seccion Graficos */
.graphics{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.graphics__text{
    text-align: center;
}

.graphics__text h2{
    font-size: 2.1rem;
    font-weight: 700;
}

.graphics__text p{
    color: var(--azul-grisaceo-oscuro);
    font-weight: 400;
    font-size: .9rem;
    line-height: 2;
    margin: 25px;
}

.graphics__text a {
    position: relative;
    top: 20px;
}

/* Seccion Differences */
.differences{
    margin-top: 120px;
    display: flex;
    flex-direction: column;

}

.differences__text{
    text-align: center;
}

.differences__text h2{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0 25px;
}

.differences__text p{
    color: var(--azul-grisaceo-oscuro);
    font-weight: 400;
    font-size: .9rem;
    line-height: 2;
    margin: 0 25px;
}

/* Differences List */
.differences__list{
    margin-top: 30px;
}

.differences__list p{
    line-height: 2;
    font-size: .9rem;

}

.differences__list p:first-of-type{
    color: var(--azul-oscuro);
    font-weight: 700;
    background-color: var(--rojo-muy-palido);
    padding: 6px 0;
    margin: 25px 0 15px 15px;
    border-radius: 20px 0 0 20px;
}

.differences__list p:first-of-type span{
    color: white;
    background-color: var(--rojo-brillante);
    padding: 12px 25px;
    border-radius: 25px;
    margin-right: 10px;
}

.differences__list p:nth-child(2){
    color: var(--azul-grisaceo-oscuro);
    padding: 0 15px;
}


/* Seccion Testimonials */
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial h2{
    font-size: 1.8rem;
    font-weight: 700;
}

.testimonial__cards div:nth-child(odd){
    display: none;
}

.testimonial__cards_card{
    background-color: var(--variante-gris-claro);
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.testimonial__cards_card img{
    position: relative;
    width: 100px;
    bottom: 50px;
}

.testimonial__cards_card h4{
    position: relative;
    bottom: 25px;
}

.testimonial__cards_card p{
    color: var(--azul-grisaceo-oscuro);
    line-height: 2;
    font-size: .9rem;
    padding-bottom: 25px;
}

.dots{
    display: flex;
}

.dots div{
    width: 10px;
    height: 10px;
    border: solid 1.8px var(--rojo-brillante);
    border-radius: 50%;
    margin: 30px 3px 60px 3px;
}

.dots div:nth-child(2){
    background-color: var(--rojo-brillante);
}



/****************/
/* -- FOOTER -- */
/****************/
footer{
    display: flex;
    flex-direction: column;
}

.orangeFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--rojo-brillante);
    padding: 100px 20px;
}

.orangeFooter h2{
    color: white;
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.blackFooter{
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--azul-muy-oscuro);
}

.nav-footer{
    display: flex;
    justify-content: space-around;
}

.nav-footer li{
    margin-top: 15px;
}

.nav-footer a{
    color: white;
    font-weight: 400;
}



.icons{
    display: flex;
    flex-direction: column-reverse;
}

.icons__social{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.icons__social img{
    width: 30px;
}

.icons__logo{
    width: 50%;
    align-self: center;
}


.suscribe{
    display: flex;
    justify-content: center;
    padding: 50px 5px;
}

.suscribe input{
    padding: 10px 25px;
    border-radius: 25px;
}

.suscribe input:nth-child(2){
    padding: 10px 35px;
    background-color: var(--rojo-brillante);
    border: none;
    color: white;
}

footer p{
    background-color: var(--azul-muy-oscuro);
    color: var(--azul-grisaceo-oscuro);
    font-weight: 500;
    text-align: center;
    padding: 30px 0;
}


/* @media (min-width: 420px){
    .navegacion{
        display: flex;
    }

    .menu-hamburguesa{
        display: none;
    }
} */
